// Import Bootstrap and its default variables
@import "./variables.scss";
@import "./bootstrapOverride.scss";

// Mixin
@mixin scrollbar(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 80%)
) {
  // Scrollbar
  ::-webkit-scrollbar {
    width: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

html {
  @include scrollbar(0.4em, $brand-black);
}

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
